<p>
  <table>
    <tr>
      <td><%= f.label :name, t("views.subject.task") %></td>
      <td><%= f.text_field :name, class: "form-control" %></td>
      <td><%= link_to_remove_fields t("remove"), f %></td>
    </tr>
  </table>
</p>
