<li>
  <h3><%= course.name %></h3>
  <p><%= course.content %></p>
  <%= link_to t("edit"), edit_admin_course_path(course),
    class: "btn btn-lg btn-primary" %>
  <%= link_to t("delete"), admin_course_path(course),
    method: :delete, data: {confirm: t("confirm_delete")},
    class: "btn btn-lg btn-primary" %>
</li>
